---
---

@import 'main';

/* append your custom style below */
.fs-09 {
  font-size: 0.9rem !important;
}

.fs-08 {
  font-size: 0.9rem !important;
}

.fs-07 {
  font-size: 0.7rem !important;
}

.text-bold {
  font-weight: bold;
}

.text-red {
  color: red;
}
